*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-family: mono;
    src: url(../fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}
:root{
    --border-color: pink;
    --font-color: pink;
}

/* pre made classes start */
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
}

.inactive{
    display: none !important;
}
.fullscreen{
    height: 93% !important;
    width: 100vw !important;
    transform: none !important;
    resize: none !important;

    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

/* main menu screen */
.main_menu{
    height: 100%;
    width: 100%;
    background: #f27ccb;
    background: radial-gradient(circle,rgba(242, 124, 203, 1) 1%, rgba(166, 61, 163, 1) 93%);
    flex-direction: column;
    gap: 10px;
    transition: ease 0.3s;
    overflow: hidden;
}
.main_menu .cat_head{
    animation: spin ease 3s infinite;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
}

.main_menu .title{
    font-family: mono;
    font-size: 25px;
    color: white;
}
.main_menu button{
    width: 200px;
    height: 50px;
    background-color: var(--border-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.main_menu button:hover{
    box-shadow: var(--border-color) 0 0 20px;
    width: 210px;
    height: 52;
    transition: ease 0.3s;
}
.main_menu button p{
    color: white;
    font-size: 18px;
}
.main_menu .display{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: var(--font-color);
    font-size: 22px;
}
@keyframes spin {
    from{
        rotate: 0;
    }
    to{
        rotate: 360deg;
    }
}


/* context menu start */
.context_menu{
    height: auto;
    width: 200px;
    background-color: white;
    font-family: mono;
    overflow: hidden;
    border-radius: 5px;
    border: 2px var(--border-color) solid;

    transform:perspective(85em)rotateX(28deg);

    box-shadow: var(--border-color) 0 10px 30px;

    position: absolute;
    z-index: 2;
}
.context_menu .option{
    height: 50px;
    width: 100%;
    border-bottom: 2px var(--border-color) solid;
    color: var(--font-color);
    user-select: none;
    cursor: pointer;

    transition: ease 0.3s;
}
.context_menu .option:last-child{
    border: none;
}
.context_menu .option:hover{
    background-color: var(--border-color);
    color: white;
}
/* file start */
.app .file{
    height: 50px;
    width: 50px;

    position: absolute;
    user-select: none;
    border: none;
    text-align: center;
}
.app .file:hover{
    border: var(--border-color) 1px solid;
    transition: ease 0.3s;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--border-color);
}
.app .file img{
    height: 100%;
    width: 100%;

    pointer-events: none;
}
/* file window start */
.window{
    height: 70vh;
    width: 70vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    gap: 5px;
    resize: both;
    overflow: scroll;
    min-width: 160px;
    min-height: 130px;
}
.window .bar{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: var(--border-color) 2px solid;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background-color: white;
}
.window .bar p{
    color: var(--font-color);
    font-size: 14px;
}
.window .bar I{
    cursor: pointer;
}
.window .bar div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.window .display{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: var(--border-color) 2px solid;

    background-color: white;
    transition: eaes 0.3s;
    display: flex;
    padding: 10px;
}
.window .display .playstore{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.playstore .item{
    height: 240px;
    width: 200px;
    background-color: var(--border-color);
    border: var(--border-color) 2px solid;
    border-radius: 10px;
    text-align: center;
}
.playstore .item img{
    height: 150px;
    width: 150px;
}
.playstore .item button{
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    color: var(--font-color);
    background-color: white;
    cursor: pointer;
    transition: ease 0.3s;
}
.playstore .item button:hover{
    font-size: 18px;
    height: 35px;
    width: 85%;
}
/* rename input */
.rename{
    height: 30px;
    width: 0.1vw;
    background-color: var(--border-color);
    color: white;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: mono;
    outline: none;
    transition: ease 0.3s;

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rename:focus{
    background-color: transparent;
    border: var(--border-color) solid 2px;
    color: var(--font-color);
}



/* settings */
.display .section{
    width: 30%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: var(--border-color) 2px solid;
}

.display .tabs{
    width: 70%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display .section div{
    height: 50px;
    width: 100%;
    border: var(--border-color) 2px solid;
    color: var(--font-color);
    border-radius: 10px;
    font-family: mono;
    cursor: pointer;
    transition: ease 0.1s;
}
.display .section div:hover{
    background-color: var(--border-color);
    color: white;
}

.display iframe{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.display textarea{
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    outline: var(--border-color);
}
/* wallpaper */
.Wallpaper label{
    display: block;

    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--border-color) 2px solid;
    color: var(--font-color);
    text-align: center;
    padding: 10px;
    font-family: mono;
    font-size: 14px;
}
.Wallpaper label input{
    display: none;
}
.Wallpaper .line{
    width: 100%;
    text-align: center;
    border-bottom: var(--border-color) 2px solid;
    color: var(--font-color);
    margin-top: 10px;
}
.Wallpaper div{
    height: 100%;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    flex-direction: column;
    margin: 0 auto;
}
.Wallpaper img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    cursor: pointer;
}
/* colorss */
.colors label{
    width: 99%;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    color: var(--font-color);
    display: flex;
    gap: 10px;
    font-family: mono;
    font-size: 16px;
    cursor: pointer;
}
.colors label input{
    width: 25px;
    height: 50%;
    border: none;
    outline: none;
    border-radius: 50px;
}
/* windows bar */
.windowsbar{
    height: 50px;
    width: 100%;
    background-color: var(--border-color);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    z-index: 90;
}
.windowsbar img{
    height: 100%;
}
.windowsbar p{
    font-size: 19px;
    color: white;
    font-family: mono;
}
.windows_ui{
    height: 0.1px;
    width: 300px;
    position: absolute;
    bottom: 54px;
    display: flex;
    gap: 10px;
    transition: ease 0.3s;
    overflow: hidden;
}
/* games */
.games{
    width: 85%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    border: var(--border-color) 2px solid;
}
.games button{
    width: 100%;
    height: 50px;
    background-color: var(--border-color);
    border-radius: 10px;
    border: none;
    transition: ease 0.3s;
    cursor: pointer;
}
.games button:hover{
    border: rgba(0, 0, 255, 0.31) 3px solid;
}
.games button p{
    font-size: 15px;
    color: white;
}
.options{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 15px;
    color: var(--font-color);
    border: var(--border-color) 2px solid;
    border-radius: 20px;
}
.songplayer{
    height: 60vh !important;
    width: 300px !important;
    resize: none;
}
.songdisplay{
    flex-direction: column;
}
.songdisplay label{
    width: 100%;
    height: 50px;
    border: var(--border-color) 2px solid;
    color: var(--font-color);
    border-radius: 5px;
}
.songdisplay audio{
    width: 100%;
    height: 50px;
    background-color: transparent;
}
.songdisplay label input{
    display: none;
}